<% if user_signed_in? %>
  <p><%= link_to "Logout", destroy_user_session_path, :method => :delete %>
<% else %>
  <p>You are not signed in.</p>
  <%= link_to "Sign up!", new_user_registration_path %>
  <br/>
  <%= link_to "Login", new_user_session_path %>
<% end %>

<h1> Welcome to Mario's Foods!</h1>
<p> beginning in 1985, Mario has been selling foods from all over the world on his online database. From apples to Zucchinis, Mario has it for you.</p>


<h3> Most recently added products: </h3>
<% if @products_most_recent.any? %>
  <ul>
    <% @products_most_recent.each do |most_reviewed| %>

      <li><%= link_to most_reviewed.name, product_path(most_reviewed) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>


<h3>Most reviewed Product: </h3>
<% if @products_most_reviews.any? %>
  <ul>
    <% @products_most_reviews.each do |most_recent| %>

      <li><%= link_to most_recent.name, product_path(most_recent) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no product reviews yet.</p>
<% end %>

<h3> LOCALLY MADE IN THE USA: </H3>
<% if @products_local.any? %>
  <ul>
    <% @products_local.each do |local| %>

      <li><%= link_to local.name, product_path(local) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no products made in the United States.</p>
<% end %>

<p><%= link_to "View all products", products_path %></p>

<% if current_user && current_user.admin %>
<p><%= link_to "Create new product", new_product_path %></p>
<% end %>
